@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%; /* light background */
  --foreground: 222.2 47.4% 11.2%; /* light foreground */
  --card: 0 0% 100%;
  --card-foreground: 222.2 47.4% 11.2%;
  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 0 0% 100%;
  --secondary: 210 40% 96.1%;
  --secondary-foreground: 222.2 47.4% 11.2%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 215 20.2% 65.1%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 100%;
}

.dark {
  --background: 222.2 47.4% 11.2%; /* dark background */
  --foreground: 0 0% 100%; /* dark foreground */
  --card: 222.2 47.4% 11.2%;
  --card-foreground: 0 0% 100%;
  --primary: 210 40% 96.1%;
  --primary-foreground: 222.2 47.4% 11.2%;
  --secondary: 222.2 47.4% 11.2%;
  --secondary-foreground: 0 0% 100%;
  --muted: 215.4 16.3% 46.9%;
  --muted-foreground: 210 40% 96.1%;
  --border: 222.2 47.4% 11.2%;
  --input: 222.2 47.4% 11.2%;
  --ring: 210 40% 96.1%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 100%;
}
